.flickr-photo img {
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.flickr-photo img:hover {
    transform: scale(1.1); /* تكبير الصورة */
    box-shadow: 0 6px 15px rgba(0,0,0,0.4); /* ظل خفيف */
    border-radius: 8px;
}