{% load static %}
{% load i18n %}

{% if LANGUAGE_CODE == 'ar' %}

<div class="row align-items-center bg-white py-3 px-lg-5" dir="rtl">
    <div class="col-lg-4 text-right">
        <a href="{% url 'main_core:home' %}" class="navbar-brand p-0 d-none d-lg-block">
            <h1 class="m-0 display-4 text-uppercase text-primary">
                اخبار<span class="text-secondary font-weight-normal"> نبض العالم</span>
            </h1>
        </a>
    </div>
    <div class="col-lg-8 text-center text-lg-left">
        <a><img class="img-fluid" src="{% static 'img/ads-728x90.png' %}" alt="إعلان"></a>
    </div>                          
</div>

{% else %}

<div class="row align-items-center bg-white py-3 px-lg-5">
    <div class="col-lg-4">
        <a href="{% url 'main_core:home' %}" class="navbar-brand p-0 d-none d-lg-block">
            <h1 class="m-0 display-4 text-uppercase text-primary">
                World<span class="text-secondary font-weight-normal">Pulse News</span>
            </h1>
        </a>
    </div>
    <div class="col-lg-8 text-center text-lg-right">
        <a><img class="img-fluid" src="{% static 'img/ads-728x90.png' %}" alt="Ads"></a>
    </div>                          
</div>

{% endif %}