{% load static %}
{% load i18n %}

{% if LANGUAGE_CODE == 'ar' %}




 <!-- Topbar Start -->
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center bg-dark px-lg-5">

            <div class="col-lg-3 d-none d-md-block d-flex justify-content-start">
                <nav class="navbar navbar-expand-sm bg-dark p-0 d-flex justify-content-start">
                    <ul class="navbar-nav ml-auto mr-n2">
                    {% for icon in social_media_icons %}
                        <li class="nav-item">
                            <a class="nav-link text-body" href="{{ icon.link }}"><small class="fab {{ icon.icon_name }}"></small></a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </div>

            <div class="col-lg-9 d-flex justify-content-end">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                <ul class="navbar-nav ml-n2">
                    <li class="nav-item border-right border-secondary">
                       <a class="nav-link text-body small" id="clock"></a>
                   </li>
                    <li class="nav-item border-right border-secondary">
                        <a class="nav-link text-body small" href="#">إعلانات</a>
                    </li>
                    <li class="nav-item border-right border-secondary">
                        <a class="nav-link text-body small" href="{% url 'contact:contact_home' %}">اتصل بنا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body small" href="{% url 'login' %}">تسجيل الدخول</a>
                    </li>
                </ul>
                          <div class="cta">
                            <div class="scrollto" >
                              <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input class="drop-down" name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
                                    <select class="drop-down text-center" style="position: relative; display: inline-block;background-color: #464f58;border-radius: 20px; border: 0px double #cccccc;color: #eeeeee;font-size: 13px;width: 100px;height: 24px;" name="language">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            <option value="{{ language.code }}"
                                                    {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                                {{ language.name_local }} ({{ language.code }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <input class="filter-active" style="display: inline-block;background-color: #313a44;border-radius: 45px; border: 0px double #cccccc;color: #eeeeee;font-size: 13px;width: 38px;height: 24px;" type="submit" value="Go">
                               </form>
                                </div>
                        </div>
                </nav>
            </div>





        </div>
    </div>
    <!-- Topbar End -->


    {% block scripts_ar %}
        <script>
            function updateClock() {
                const now = new Date();
                document.getElementById("clock").innerHTML =
                    now.toLocaleDateString() + " - " + now.toLocaleTimeString();
            }
            setInterval(updateClock, 1000);
            updateClock();
        </script>
    {% endblock %}


{% else %}



 <!-- Topbar Start -->
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center bg-dark px-lg-5">
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-n2">
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" id="clock"></a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="#">Advertise</a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="{% url 'contact:contact_home' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body small" href="#">Login</a>
                        </li>
                    </ul>
                          <div class="cta">
                            <div class="scrollto" >
                              <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input class="drop-down" name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
                                    <select class="drop-down text-center" style="position: relative; display: inline-block;background-color: #464f58;border-radius: 20px; border: 0px double #cccccc;color: #eeeeee;font-size: 13px;width: 100px;height: 24px;" name="language">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            <option value="{{ language.code }}"
                                                    {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                                {{ language.name_local }} ({{ language.code }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <input class="filter-active" style="display: inline-block;background-color: #313a44;border-radius: 45px; border: 0px double #cccccc;color: #eeeeee;font-size: 13px;width: 38px;height: 24px;" type="submit" value="Go">
                               </form>
                                </div>
                        </div>
                </nav>
            </div>
            <div class="col-lg-3 text-right d-none d-md-block">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-auto mr-n2">
                    {% for icon in social_media_icons %}
                        <li class="nav-item">
                            <a class="nav-link text-body" href="{{ icon.link }}"><small class="fab {{ icon.icon_name }}"></small></a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


{% block scripts_en %}
    <script>
        function updateClock() {
            const now = new Date();
            document.getElementById("clock").innerHTML =
                now.toLocaleDateString() + " - " + now.toLocaleTimeString();
        }
        setInterval(updateClock, 1000);
        updateClock();
    </script>
{% endblock %}

{% endif %}

